.dashboard {
  margin: 50px;
  font-size: 25px;
  box-shadow: 0 0 17px 2px #888888;
  padding: 20px;
}

.myboard {
  margin: 30px;
}

.item-myboard {
  box-shadow: 0 0 2px 1px #888888;
  width: 50%;
  padding: 20px;
  margin-top: 30px;
  border-radius: 4px;
  display: flex;
}

.item {
  width: 100%;
  margin-right: 30px;
  border-bottom: 1px solid #888888;
  border-radius: 4px;
  padding: 10px;
}

.myboard a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.myboard a p {
  font-size: 20px;
}
